In [2]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np

In [4]:
df = pd.read_csv(r"D:\Optimizing-Household-Electricity-through-Machine-Learning-main\Datasets\electricity_data.csv")

In [5]:
df.head()

         Date  Total_Consumption
0  2017-12-16                5.7
1  2017-12-17               20.6
2  2017-12-18               12.9
3  2017-12-19               15.5
4  2017-12-20               12.0

In [6]:
df.shape

(1313, 2)

In [7]:
df = df[1110:]
df.head()

            Date  Total_Consumption
1110  2021-01-01                7.7
1111  2021-01-02                8.5
1112  2021-01-03                7.7
1113  2021-01-04                9.3
1114  2021-01-05               12.5

In [9]:
df.reset_index(drop=True, inplace=True)
df.index = pd.to_datetime(df['Date'])
df.head()

#considering 2021 from january

                  Date  Total_Consumption
Date
2021-01-01  2021-01-01                7.7
2021-01-02  2021-01-02                8.5
2021-01-03  2021-01-03                7.7
2021-01-04  2021-01-04                9.3
2021-01-05  2021-01-05               12.5

In [15]:
df2 = pd.read_csv(r"D:\Optimizing-Household-Electricity-through-Machine-Learning-main\Datasets\electrical_appliance_consumption.csv")
df2.shape

(44, 8)

In [16]:
df2 = df2[df2['year'] == 2021]
df2.reset_index(drop=True, inplace=True)
df2.head()

,month,year,Fridge,AC,Kitchen Appliances,Washing Machine,Other Appliances,Total_Consumption
0,Jan,2021,20.1,0.0,43.8,18.5,17.6,2625.5
1,Feb,2021,19.6,0.0,42.6,17.6,20.2,2298.6
2,Mar,2021,13.9,24.4,30.8,11.8,19.1,3454.2
3,Apr,2021,12.3,38.3,27.1,10.3,12.0,3528.3
4,May,2021,12.3,36.3,27.4,13.9,10.2,3787.3

In [17]:
df2.shape

(7, 8)

In [19]:
#forcasted dataset of df
df3 = pd.read_csv(r"D:\Optimizing-Household-Electricity-through-Machine-Learning-main\Datasets\electrical_forecast.csv")
df3.head()

         Date  Total_Consumption  Predicted_Consumption        MAE
0  2021-05-09               44.1              28.343788  15.756212
1  2021-05-10               48.3              59.778455 -11.478455
2  2021-05-11               37.8              41.435079  -3.635079
3  2021-05-13               41.7              40.993073   0.706927
4  2021-05-14               37.8              40.834960  -3.034960

In [20]:
df3.shape

(142, 4)

In [24]:
#for anomaly detection
df4 = pd.read_csv(r"D:\Optimizing-Household-Electricity-through-Machine-Learning-main\Datasets\electricity_appliance_wise_data.csv")
df4['Date'] = pd.to_datetime(df4['Date'])
df4.head()

,Date,Fridge,AC,Voltage,Kitchen Appliances,Other Appliances,Sub_metering_3,month,year,Total_Consumption,day,Washing Machine,kap_zscore,fridge_zscore,ac_zscore,oap_zscore,wm_zscore
0,2021-01-01,1224.252,0.0,349294.64,3869.148,327.0,3558.0,1,2020,7.7,1,2304.0,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,1693.778,0.0,350829.71,5301.422,367.0,14623.0,1,2020,8.5,2,1111.0,NaN,NaN,NaN,NaN,NaN
2,2021-01-03,1298.728,0.0,348224.80,4112.472,471.0,7115.0,1,2020,7.7,3,1785.0,NaN,NaN,NaN,NaN,NaN
3,2021-01-04,1687.440,0.0,348125.99,5338.360,517.0,14393.0,1,2020,9.3,4,1780.0,NaN,NaN,NaN,NaN,0.095548
4,2021-01-05,1320.158,0.0,346531.92,4338.842,4885.0,6751.0,1,2020,12.5,5,1984.0,NaN,NaN,NaN,NaN,1.343633

In [25]:
df4.shape

(203, 17)

In [26]:
df4 = df4[df4['Date'].dt.year == 2021]
df4.reset_index(drop=True, inplace=True)

In [27]:
df4.shape

(203, 17)